* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: white;
    font-family: calibri;
}

.cabeza{
    width: 100%;
    height: 350px;
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    color: white;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background: #251F24;
}

.section1{
    position: relative;
    width:306px ;
    height:648px;
    background:  #251F24;
    margin: 64px 70px 0px 350px;
}


/*Articulo1 y Articulo2*/

.articulo1{
    width:auto; 
    height:240px;
    background: #251F24;
    color: white;
} 

.variantes-del-proyecto{
    font-size: 14px;
    font-weight: 400;
    width: auto;
    height: auto;
    color: #FFFFFF;
}

main .section1 .articulo1 .navbar-nemium ul li a{
    color: #A5A3A5;
    padding: 12px 0px;
    display: block;
    background: #251F24;
}

main .section1 .articulo1 .navbar-nemium ul li a:hover{
    background-color: black;
}

.articulo2 {
    position: absolute;
    bottom: 0;
    width:100% ;
    height:304px;
    background: #251F24;
    color: white;
}

.contenido{
    width: auto;
    height: 24px;
    font-weight: 700;
    font-size: 14px;
}

.navbar{
    width: auto;
    height: 230px;
    background:#251F24;
}

.navbar-link{
    z-index: 1000;
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    color: white;
}

main .section1 .articulo2 .navbar ul ul li a {
    font-size: 14px;
    font-weight: 400;
    color: #A5A3A5;
    display: block;
    padding: 15px 0px 15px 32px;
}

.navbar2{
    width: 199px;
    height: 48px;
}

.navbar2-link{
    width: auto;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
}

.navbar2-link .navbar2-img {
    background: rgb(34, 34, 36);
    align-self: flex-start;
  }



 /*fin art2*/

/*-----------------------------------------SECTION TWO----------------------------------------
-------------------------------------------------------------------------------------------------------*/

.section2{
    position: relative;
    width: 636px;
    height: 6036px;
    background: #251F24;
    color: white;
    margin: 60px 200px 0px 0px;
    margin-bottom: 80px;
}

/*ARTICULO 3----------------------------------------------------*/

.articulo3{
    width: 100%;
    height: 262px;
    background: rgb(222, 225, 19);
    background: #251F24;
    margin-bottom: 80px;
}

.curso-esencial{
    width: 100%;
    height: 174px;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 16px;
    color: white;
}

.texto-ce{
    width: auto;
    height: auto;
    font-size: 17px;
    font-weight: 400;
    color: #A5A3A5;
}

/*ARTICULO 4 ------------------------------------------------------*/
.articulo4{
    width: 100%;
    height: 1151px;
    background: #251F24;
}

.imagen-setup{
    width: 100%;
    height: 80px;
    margin-bottom: 16px;
}

.imagen-setup img{
    object-fit: cover;
    width: 80px;
    height: 100%;
}

.subtitle-setup h3{
    width: 100%;
    height: 44px;
    font-size: 30px;
    font-weight: 500;
}

.articulo4 p {
    font-size: 17px;
    font-weight: 400;
    color: #A5A3A5;
}

.setups{
    width: 100;
    height: 42px;
    margin-bottom: 50px;
}
 .setups h2{
    font-size: 40px;
    font-weight: 700;
 }

.google-container{
    width: 100%;
    height: 204px;
    margin-bottom: 40px;
}

.google-text{
    width: 100%;
    height: 108px;
}

.visual-container{
    width: 100%;
    height: 252px;
    margin-bottom: 40px;
}

.figma-container{
    width: 100%;
    height: 228px;
    margin-bottom: 40px;
}

.git-container{
    width: 100%;
    height: 252px;
}

/*ASIDE UNO ---------------------------------*/

.aside-uno{
    width: 100%;
    height: 128px;
    margin-top: 80px;
    margin-bottom: 80px;
    background: #3A3539;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.aside-uno p{
    color: white;
    font-size: 24px;
    font-weight: 400;
    padding-top: 30px;
}


/*ARTICULO 5--------------------------------------------------------------*/
.articulo5 h2{
    font-size: 32px;
    font-weight: 600;
}

.articulo5{
    width: 100%;
    height: 2448.13px;
    background: #251F24;
    margin-bottom: 122.87px;
}

.titulo-conceptos{
    width: 100%;
    height: 110px;
    margin-bottom: 40px;
}

.titulo-conceptos h2{
    font-size: 40px;
    font-weight: 700;
}

/*html*/

.html{
    width: 100%;
    height: 492px;
    margin-bottom: 40px;
}

.html-title{
    width: 100%;
    height: 44px;
    margin-bottom: 16px;
}

.html-title h2{
    font-size: 32px;
    font-weight: 600;
}

.html-text{
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
}

.html-text p{
    font-size: 17px;
    font-weight: 400;
    color: #A5A3A5;
}

.html-img {
    width: 100%;
    height: 368px;
}

.html-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*ETIQUETAS*/
.etiquetas{
    width: 100%;
    height: 268px;
    margin-bottom: 40px;
}

.etiquetas p{
    color: #A5A3A5;
    font-size: 17px;
    font-weight: 400;
}

.etiquetas-title{
    width: 100%;
    height: 44px;
    margin-bottom: 16px;
}

.etiquetas-title h2{
    font-size: 32px;
    font-weight: 600;
}

/*DOM*/

.dom{
    width: 100%;
    height: 504.13px;
    background: #251F24;
    margin-bottom: 40px;
}

.dom-title{
    width: 100%;
    height: 44px;
    margin-bottom: 16px;
}

.dom-text{
    width: 100%;
    height: 96px;
    margin-bottom: 16px;
}

.dom-text p{
    font-size: 17px;
    font-weight: 400;
    color: #A5A3A5;
}

.dom-img{
    width: 100%;
    height: 332.13px;
}

.dom-img img{
    object-fit: cover;
    width: 100%;
}

/*SEMANTICA*/

.semantica{
    width: 100%;
    height: 252px;
    margin-bottom: 40px;
}
.semantica-title{
    width: 100%;
    height: 44px;
    margin-bottom: 16px;
}

.semantica p{
    font-size: 17px;
    font-weight: 400;
    color: #A5A3A5;
}

/*ATRIBUTOS*/

.atributos{
    width: 100%;
    height: 156px;
    margin-bottom: 40px;
}

.atributos-title{
    width: 100%;
    height: 44px;
    margin-bottom: 16px;
}

.atributos-text{
    width: 100%;
    height: 96px;
}

.atributos-text p{
    font-size: 17px;
    font-weight: 400;
    color: #A5A3A5;
}

.css{
    width: 100%;
    height: 426px;
}

.css-title{
    width: 100%;
    height: 44px;
    margin-bottom: 16px;
}

.css-text{
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
}
.css-text p{
    font-size: 17px;
    font-weight: 400;
    color: #A5A3A5;
}

.css-img{
    width: 100%;
    height: 302px;
}

.css-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*ARTICULO 6--------------------------------------------------------*/

.articulo6{
    width: 100%;
    height: 1345px;
    background: #251F24;
}

.articulo6-title{
    width: 100%;
    height: 44px;
    margin-bottom: 40px;
}

.articulo6-title h2{
    font-size: 32px;
    font-weight: 600;
}

.modelo-compuesto{
    width: 100%;
    height: 209px;
    margin-bottom: 40px;
}

.modelo-title{
    width: 100%;
    height: 24px;
    margin-bottom: 16px;
}

.modelo-title h3{
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.modelo-text{
    width: 100%;
    height: 49px;
    color: #A5A3A5;
    margin-bottom: 16px;
}

.modelo-text p{
    font-size: 17px;
    font-weight: 400;
}

.modelo-list{
    width: 100%;
    height: 96px;
}

.modelo-list ol{
    margin-left: 0px;
    list-style-position: inside;
}

.modelo-list li{
    color: #A5A3A5;

}

/*-------------------------------------------------*/

.propiedades-fisicas{
    width: 100%;
    height: 204px;
    margin-bottom: 40px;
}

.propiedades-title{
    width: 100%;
    height: 44px;
    margin-bottom: 16px;
}

.propiedades-title h3{
    font-size: 32px;
    font-weight: 600;
    color: white;
}

.propiedades-list{
    width: 100%;
    height: auto;
}

.propiedades-list ul{
    list-style-position: inside;
}

.propiedades-list ul li{
    padding: 7px;
    color: #A5A3A5;
}
/*------------------------------------------------------------------*/
.propiedades-logicas{
    width: 100%;
    height: 276px;
    margin-bottom: 40px;
}

.logicas-title{
    width: 100%;
    height: 44px;
    color: white;
    margin-bottom: 16px;
}

.logicas-title h3{
    font-size: 32px;
    font-weight: 600;
}

.logicas-list{
    width: 100%;
    height: auto;
}

.logicas-list ul{
    list-style-position: inside;
}

.logicas-list ul li{
    padding: 7px;
    color: #A5A3A5;
}

/*--------------------------------------------------------------*/

.modelo-de-caja{
    width: 100%;
    height: 452px;
}

.caja-title{
    width: 100%;
    height: 33px;
    margin-bottom: 16px;
}

.caja-title h3{
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.caja-img{
    width: 100%;
    height: 350px;
    margin-bottom: 16px;
}

.caja-img img{
    object-fit: cover;
    width: 100%;
    height:350px ; 
}

.caja-deslizador{
    width: 100%;
    height: 16px;
}

.caja-deslizador img{
    object-fit: cover;
    width: 100px;
    height: 100%;
    margin-left: 40%;
}

.aside-dos{
    width: 100%;
    height: 24px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.aside-dos p {
    font-size: 17px;
    font-weight: 400;
    color: white;
}

/*ARTICULO 7---------------------------------------------------------*/
.articulo7{
    width: 100%;
    height: 241px;
    background: #251F24;
}

.articulo7-title{
    width: 100%;
    height: 24px;
    margin-bottom: 16px;
}

.articulo7-title h3{
    font-size: 24px;
    font-weight: 400;
}

.articulo7-formulario{
    width: 100%;
    margin: auto;
}

.control{
    width: 100%;
    background-color: #251F24;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid #FFFFFF;
    font-size: 17px;

}

.articulo7-formulario .button{
    width: 100%;
    padding: 20px;
    border: 1px solid #FFFFFF;
    background-color: #157EFB;
    font-size: 17px;
    border-radius: 10px;
}

/*FOOTER----------------------------------------------------------*/
.footer{
    width: 100%;
    height: 174px;
    background: rgb(85, 214, 10);
    color: white;
}

.descripcion{
}

.descripcion p{
    font-size: 32px;
    font-weight: 400;
    color: white;
    margin-left: 41%;
    padding-top: 40px;
}

.redes-sociales{
    width: 100%;
    height: 18px;
    margin-left: 50%;
}

.redes-sociales img{
    object-fit: cover;
    height: 100%;
}