* {
    margin: 0;
    padding: 0;
}

body {
width: 70%;
}

#cabecera
{   
    position: absolute;
    left: -1px;
    top: 0px;
    
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
}